# Secrets — never commit
.env/.prod
.env/.local
*.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
staticfiles/
*.sqlite3

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.vercel
